DATABASE_URL=postgresql+asyncpg://ustbite_user:CHANGE_ME@ustbite-order-service-postgres.ustbite-data.svc.cluster.local:5432/ustbite_orders_db
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
SERVICE_NAME=ustbite-order-service
SERVICE_PORT=8003
LOG_LEVEL=INFO
SECRET_KEY=changeme